# Dependency directories
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Testing data and coverage
coverage/

# IDE/editor specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Config files
config.js
